<footer class="bg-dark text-center text-white mt-auto" style="position: relative; bottom: 0; width: 100%">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" role="button">
                <i class="bi bi-twitter"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" role="button">
                <i class="bi bi-instagram"></i>
            </a>
        </section>
        <h5 class="text-uppercase">Trouvez un film avec l'un de nos cinémas partenaires :</h5>
        <section>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Paris</h5>
                    <ul class="list-unstyled mb-2">
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-gaumont-champs-elysees">Beaugrenelle</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-beaugrenelle">Beaugrenelle</a>
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-beaugrenelle">Beaugrenelle</a>
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-la-villette">La Villette</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Lyon</h5>
                    <ul class="list-unstyled mb-2">
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-vaise">Vaise</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-carre-de-soie">Carré de Soie</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-bellecour">Bellecour</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Marseille</h5>
                    <ul class="list-unstyled mb-2">
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-madeleine">Madeleine</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-plan-de-campagne">Plan de campagne</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-cinema-la-joliette">La joliette</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nice</h5>
                    <ul class="list-unstyled mb-2">
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-lingostiere">Lingostière</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-massena">Masséna</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-white" href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-gare-du-sud">Gare du Sud</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3">© 2025 Copyright: Affiniti</div>
</footer>